body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FFFF00;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  img {
    width: 150px; 
    height: 100px; 
  }

  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .user-options, .admin-options {
    border: 1px solid #000000;
    padding: 1rem;
  }
  
  .number-picker {
    display: flex;
    flex-wrap: wrap;
  }
  
  #num-boards, input[type="checkbox"] {
    margin-right: 1rem;
  }
  
  #tickets, #draw-results {
    background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 5px;
  }
  /*Selct numbers*/
  .number-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .number-circle {
    display: inline-block;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer; 
  }
  
  .number-circle.red {
    background-color: #f00;
  }
  
  .number-circle.yellow {
    background-color: #ff0;
  }
  
  .number-circle.green {
    background-color: #0f0;
  }
  
  .number-circle.blue {
    background-color: #00f;
    color: #fff; 
  }
  
  .number-circle.selected {
    
    background-color: #0f0; 
    border: 2px solid black; 
  }
  
  .number-circle:hover {
    opacity: 0.8; /* Slightly reduce opacity on hover for visual feedback */
  }
  

  /*switch btn */
 


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* Login form styles */
#loginForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginForm h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

#login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login input,
#login select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

#login button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

#login button:hover {
  background-color: #3e8e41;
}

#login p {
  text-align: center;
  margin-top: 10px;
}

#login a {
  color: #4CAF50;
  text-decoration: none;
}

#login a:hover {
  text-decoration: underline;
}


